@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: "Arial Narrow";
  src: url(/fonts/Arial-Narrow-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url(/fonts/Arial-Narrow-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url(/fonts/Arial-Narrow-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial Narrow";
  src: url(/fonts/Arial-Narrow-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  
  font-family: "Arial Narrow", sans-serif;

  height: 100vh;
  width: 100%;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
