.accordion

.question {
    width: full;
    text-align: left;
    padding: 4px;
}


.answer {
    margin-top: 8px;
    padding: 4px;
    /* background-color: blue; */
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.5s ease-out;

}