.question {
    width: 100%;
    text-align: left;
    padding: 4px 12px;
    margin-bottom: 12px;
}


.answer {
    padding: 4px 12px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}